<phpunit
		bootstrap="dev-lib/phpunit/module-bootstrap.php"
		backupGlobals="false"
		colors="true"
		>
	<testsuites>
		<testsuite>
			<directory suffix=".php">tests/phpunit/tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
			<exclude>
				<file>/src/includes/classes/hierarchy.php</file>
				<file>/src/includes/classes/hook/settings.php</file>
				<file>/src/includes/classes/specedi.php</file>
				<file>/src/includes/classes/spec.php</file>
				<directory>/src/includes/classes/hook/retroactive/</directory>
				<directory>/src/includes/classes/query/</directory>
				<directory>/tests/classes/hook/retroactive/</directory>
			</exclude>
		</whitelist>
	</filter>
	<listeners>
		<listener class="SpeedTrapListener">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
